@inject IJSRuntime JSRuntime

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Portfolio</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> TOP
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(s => AnchorJumpTo(Anchors.Profile))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Profile
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(s => AnchorJumpTo(Anchors.Awards))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Awards
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(s => AnchorJumpTo(Anchors.Products))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(s => AnchorJumpTo(Anchors.Works))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Works
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(s => AnchorJumpTo(Anchors.Skills))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Skills
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(s => AnchorJumpTo(Anchors.Posts))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Posts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@(s => AnchorJumpTo(Anchors.Roadmap))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Roadmap
            </NavLink>
        </li>

    </ul>
</div>
@code {
    enum Anchors
    {
        Profile,
        Awards,
        Products,
        Works,
        Skills,
        Posts,
        Roadmap
    };

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void AnchorJumpTo(Anchors anchor)
    {
        string anchor_name = Enum.GetName(typeof(Anchors), anchor);
        JSRuntime.InvokeAsync<bool>("scrollToElementId", anchor_name);
    }
}

